 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/Untitled1min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1 .u-group-1 {
  width: 869px;
  min-height: 500px;
  margin: 100px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-1 .u-text-1 {
  margin: 100px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 37px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-radius: 50px;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 1.125rem;
  margin: 30px auto 50px;
}

.u-section-1 .u-group-2 {
  width: 570px;
  min-height: 52px;
  margin: 18px 0 30px auto;
}

.u-section-1 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 800px;
    margin-bottom: 70px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 50px;
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 50px;
  }

  .u-section-1 .u-group-2 {
    width: 470px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-1 .u-group-2 {
    width: 360px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 50px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-group-2 {
    width: 338px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 30px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-1 .u-group-2 {
    min-height: 65px;
    margin-top: 70px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 935px;
}

.u-section-2 .u-group-1 {
  min-height: 152px;
  width: 800px;
  margin: 77px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-2 .u-text-1 {
  margin: 15px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 15px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 60px auto 90px 0;
}

.u-section-2 .u-image-1 {
  min-height: 586px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/123.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-3 {
  margin: 302px 0 39px;
}

.u-section-2 .u-image-2 {
  min-height: 586px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/3f8d3833-72b3-3072-3d51-57dad152da82.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-4 {
  margin: 302px 0 39px;
}

.u-section-2 .u-image-3 {
  min-height: 586px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/4a1d4947-fd02-e665-4d57-deac20b3eb39.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-5 {
  margin: 302px 0 39px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-2 .u-group-1 {
    min-height: 150px;
    width: 660px;
    margin-top: 79px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 47px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 527px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-2 .u-group-1 {
    min-height: 136px;
    margin-top: 82px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1970px;
  }

  .u-section-2 .u-group-1 {
    min-height: 150px;
    width: 474px;
    margin-top: 89px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 89px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 478px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 409px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 409px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2178px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    margin-top: 115px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 86px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 464px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 302px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 302px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/min.jpg");
  background-position: 50% 0%;
}

.u-section-3 .u-sheet-1 {
  min-height: 721px;
}

.u-section-3 .u-group-1 {
  width: 849px;
  min-height: 356px;
  background-image: none;
  margin: 326px auto 39px;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 39px;
  padding-right: 40px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 35px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 39px -1px 35px 1px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 700px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 32px;
    padding-right: 33px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 536px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 503px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 19px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: 140px;
    margin-bottom: 1px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 12px;
    padding-right: 12px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 540px;
}

.u-section-4 .u-group-1 {
  min-height: 410px;
  width: 927px;
  margin: 65px auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-4 .u-text-1 {
  margin: 40px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 54px 0 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-4 .u-group-1 {
    min-height: 315px;
    margin-top: 93px;
    margin-bottom: 93px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 25px;
  }

  .u-section-4 .u-text-2 {
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    min-height: 365px;
    margin-top: 68px;
    margin-bottom: 68px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    min-height: 340px;
    margin-top: 80px;
    margin-bottom: 80px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 28px;
    padding-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-4 .u-group-1 {
    min-height: 478px;
    margin-top: 61px;
    margin-bottom: 61px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 18px;
  }
} .u-section-5 {
  background-image: url("images/s.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 500px;
}.u-section-6 .u-sheet-1 {
  min-height: 829px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 90px auto 90px 0;
}

.u-section-6 .u-image-1 {
  min-height: 447px;
  background-image: url("images/t.jpg");
  background-position: 50% 73.17%;
}

.u-section-6 .u-image-2 {
  min-height: 447px;
  background-image: url("images/rfg.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 232px;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-6 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 28px 0 12px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 382px;
  }

  .u-section-6 .u-image-2 {
    min-height: 382px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 148px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 499px;
  }

  .u-section-6 .u-image-1 {
    min-height: 356px;
  }

  .u-section-6 .u-image-2 {
    min-height: 356px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 173px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 38px;
    padding-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-6 .u-image-1 {
    min-height: 329px;
  }

  .u-section-6 .u-image-2 {
    min-height: 331px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 168px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 28px;
    padding-right: 28px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 800px;
  }

  .u-section-6 .u-image-1 {
    min-height: 310px;
  }

  .u-section-6 .u-image-2 {
    min-height: 309px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 211px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 18px;
    padding-right: 18px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 403px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.u-section-7 .u-image-1 {
  min-height: 263px;
  background-image: url("images/fr.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-image-2 {
  min-height: 263px;
  background-image: url("images/wsed.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-image-3 {
  min-height: 263px;
  background-image: url("images/cfg.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-image-4 {
  min-height: 263px;
  background-image: url("images/sw.jpg");
  background-position: 50% 50%;
}